body {
  margin: 0;
  font-family: "times";

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  padding: 50px;
  align-items: center;
  text-align: center;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-family: 'sans-serif';
  font-size: 20px;
  padding-left: 10px;
  color: #ffffff;
  line-height: 1;
  background-image: url('https://mmvrstudio.github.io/rest-img/Brewers.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}


.text-light, bg-dark, jumbotron, jumbotron-fluid{


  background-color: #ffffff ;
}


h1 {
  color: aliceblue;
  font-family: 'Bree Serif', serif;
}

h2 {

  color: #ffffff;
  font-family: 'Bree Serif', serif;

}

h3 {

  color: antiquewhite;
  font-family: 'Bree Serif', serif;

  
}
h4{

  color:antiquewhite;
  font-family: 'Bree Serif', serif;

}

h5{

  color: #ffffff;
  font-family: 'Bree Serif', serif;

}

h6 {
  font-family: 'Bree Serif', serif;
  
}

.small {
  font-weight: 300;


}

